VITE_FIREBASE_API_KEY=AIzaSyCaFkW_ZHnoEkEqnS4E68lWCR9TnUj2C1c
VITE_FIREBASE_AUTH_DOMAIN=shop-da28d.firebaseapp.com
VITE_FIREBASE_DATABASE_URL=https://shop-da28d-default-rtdb.asia-southeast1.firebasedatabase.app
VITE_FIREBASE_PROJECT_ID=shop-da28d
VITE_FIREBASE_STORAGE_BUCKET=shop-da28d.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=992266008282
VITE_FIREBASE_APP_ID=1:992266008282:web:2be896fd65134614a9d7e3
VITE_CLOUDINARY_CLOUD_NAME=dl429zyyl
VITE_CLOUDINARY_UPLOAD_PRESET=shop_ngocsua
